#botonesItems {
    -fx-background-color: #ddc26f;
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.button {
    -fx-font-family: "Pokemon Fire Red";
    -fx-font-size: 23px;
    -fx-padding: 5px 10px;
    -fx-background-color: #f5e1a4;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}


.button:hover {
    -fx-background-color: #f7d777;
}