#buttonContainer {
    -fx-background-color: #ddc26f; /* Color amarillo/mostaza */
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

/* Estilo para los botones de los items */
.button {
    -fx-font-family: "Pokemon Fire Red";
    -fx-font-size: 23px;
    -fx-padding: 5px 10px;
    -fx-background-color: #f5e1a4; /* Color de fondo para los botones */
    -fx-text-fill: black; /* Color del texto */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0); /* Sombra */
}

/* Estilo para los botones cuando se les pasa el mouse por encima */
.button:hover {
    -fx-background-color: #f7d777; /* Color de fondo al pasar el mouse */
}