.button {
    -fx-font-family: "Pokemon Fire Red";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-color: #a8d0e6; /* Color celeste claro */
    -fx-border-color: #80a0b0; /* Color del borde */
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-padding: 8px 16px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: #c0e0f0;
    -fx-translate-y: 1px;
    -fx-effect: none;
}

